
/* For setting default color palettes */
:root{
    --color-antiflashwhite: #EAEBED;
    --color-cerulean: #007090;
    --color-colombiablue: #CDE0F4;
    --color-glaucous: #507DBC;
    --color-vistablue: #7A9CCD;
}

/* For main BG color */
body {
    background-color: var(--color-antiflashwhite);
    z-index: -555;
}

li {
    list-style-type: none;
}

/* Hat Navigation Bar related */
.navBar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-cerulean);
    /* background-image: url("img_tree.png"); */
    /* background-repeat: no-repeat; */
    /* background-position: right top; */
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100%;
    z-index: 999;
}

.navChoices {
    position: fixed;
    bottom: 0;
}

.hat { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.hatimage {
    width: 75px;
    height: auto;
}

.hatText {
    position: absolute;
    padding: 10px;
    font-size: 16px;
    background-color: blanchedalmond;
    overflow: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hat a:link {
    text-decoration: none;
}

.hat a:visited {
    text-decoration: none;
}

.hat a:hover {
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
}

.hat a:after {
    text-decoration: none;
}

/* For non-nav part sizing; technically just taking out the nav bar size's worth of space, this happens apparently bc of the "position: fixed" */
.notNavBar {
    padding-right: 300px;
    margin: 20px;
    margin-top: 50px;
}

.contact {
    display: flex;
    bottom: 0;
    left: 0;
}

/* For mobile, making navBar horizontal and above screen */
@media (max-width: 480px) {
    .navBar {
        display: grid;
        grid-template-rows: 10% 10% 10% 10% 10%;
        position: fixed;
        top: 0;
        width: 100%;
        height: 150px;
        z-index: 999;
    }
    
    .navChoices {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        top: 0;
        height: 75px;
    }

    .hat { 
        position: relative;
        display: grid;
    }

    .hatText {
        position: absolute;
        top: 50%;;
        text-align: center;
        font-size: 16px;
        background-color: blanchedalmond;
        overflow: wrap;
    }

    .hatimage {
        width: 50px;
        height: auto;
    }

    .notNavBar {
        padding-top: 150px;
        padding-right: 0px;
    }
    .allcards {
        flex:100%;
    }
}